*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUIVF.ttf");
}

:root {
  --body-background-color: rgb(27, 29, 46);
  --file-icon-color: rgb(255, 255, 255);
  --main-font: "Segoe UI";
}


html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background: none;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
}