*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUIVF.ttf");
}

:root {
  --body-background-color: rgb(27, 29, 46);
  --file-icon-color: rgb(255, 255, 255);
  --main-font: "Segoe UI";
}

/* ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 6px;
	background: none;
  cursor: default !important;
}

::-webkit-scrollbar
{
	width: 7px;
	background: none;
  cursor: default !important;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
	background-color: #555;
  cursor: default !important;
} */

::-webkit-scrollbar-track
{
	background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(255, 255, 255, 0.315);
}


html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background: none;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
}